<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autodesk.Revit.SDK" version="2022.0.2.392" targetFramework="net40" />
  <package id="Extended.Wpf.Toolkit" version="3.7.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net40" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net461" />
  <package id="System.Interactive.Async" version="4.1.1" targetFramework="net461" />
</packages>